[Unit]
Description=Listener for GPIO switches to start waveform generation
 
[Service]
ExecStart=/root/waveform_service/generate_arbitrary_waveform
Type=simple
 
[Install]
Alias=waveform-gen.service
WantedBy=default.target
